<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="log\\55tuanwap" />
    <param name="RollingStyle" value="Date" />
    <param name="DatePattern" value="yyyyMMddHH&quot;.log&quot;" />
    <param name="StaticLogFileName" value="false" />
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="[%d{HH:mm:ss,fff}] %-5p %m% [%method] [%t] %n" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="LogFileAppender" />
  </root>
</log4net>